.main{
position: absolute;
width: 100%;
left: 0;
top: 0;
z-index: 100;
box-shadow: none;
border-bottom: 1px solid transparent;
}
.imageContainer a img{
    height:70px;
    /* object-fit: cover; */
         margin: 0 auto;
}
@media only screen and (max-width: 1200px){
   .navmain .navFlex {
        display: none!important;
        text-align: left;
    }
    }
    @media only screen and (max-width: 1200px)
    {
    
     .main {
        border-bottom: 1px solid #f5f5f5;
        z-index: 199;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        -webkit-backface-visibility: hidden;
        box-shadow: 0 0 10pxrgba(0,0,0,.1);
        text-align: center;
    }
    }
    @media only screen and (max-width: 1200px)
    {

        .imageContainer a img {
    height: 60px;
}
    }
.navFlex{
    display:flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center;
}
.navFlex li{
    /* text-decoration: none; */
    text-transform: uppercase;
    display:inline-block;
    text-align: center;
}

.navFlex li a{
    font-family: Roboto,sans-serif;
    font-size: 11px;
    font-weight: 400;
    height: 70px;
    letter-spacing: 3px;
    line-height: 70px;
    padding: 0 15px;
    color: #2a2a2a;
    transition: height .4s ease 0s,line-height .4s ease 0s,margin .4s ease 0s,padding .4s ease 0s;
    cursor: pointer;
    text-decoration: none;
}
.navFlex li a:hover{
outline: 0;
text-decoration: none;
color: #099 !important
}
.active1{
    color: #099  !important

}
.firstButton{
    height: 40px;
    min-width: 120px;
    max-width: 120px;
    margin-top: 0;
    font-size: 14px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #23b428;
    border:0;
    border-radius: 5px;
    color: #fff!important;
    outline: 0!important;
    font-family: "Source Sans Pro",sans-serif;
}
/* .fixed{
    position:fixed;
    background-color:white;
    z-index: 10000;
} */


