

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
    box-sizing: border-box;
}
.activeHome{
    /* -webkit-filter:brightness(50%); */
    background-color:rgba(0,0,0,.5) ;
    -webkit-filter:blur(8px)


}

.hero-content{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.wt-btn{

min-width: 280px !important;
max-width: 280px !important;
margin-top: 40px !important;
border: none;
padding: 0 30px;
background-color: #23b428 !important;
border-radius: 5px;
color: #fff!important;
outline: 0!important;
font-family: "Source Sans Pro",sans-serif;
font-size: 22px;
height: 54px;
}

/* .hero-content .left-side ul li::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #23b428;
    border-radius: 50%;
} */

/* @media (min-width: 1024px){
.hero-content .left-side ul li::before {
  
    width: auto;
    height: auto;
    background: 0 0;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\2713\0020";
    color: #23b428;
    font-size: 22px;
    font-family: simple-line-icons;
    top: 0;
    
    
}
} */
h1, h2, h3 {
    font-family: "Source Sans Pro",sans-serif!important;
}
.hero-content .left-side ul {
    /* text-decoration: none; */
    /* display: inline-block; */
    list-style: none;
    /* margin-top: 25px; */
    
    text-align: left;

    font-family: "Source Sans Pro",sans-serif!important;
    padding-left: 0 !important;
}

.hero-content .left-side ul li{
font-size: 22px;
    /* padding-left: 31px; */
    padding-bottom: 15px;
}

.first-check{
  
    fill:#23b428;
    color:#23b428;
    font-size: 29px;
    margin-right: 5px;
    margin-bottom: 2px;
}
/* .hero-content .left-side ul li::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #23b428;
    border-radius: 50%;
} */
.home_new_on{
    margin-top: 70px;
}
.home_new_one_inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0 0.1rem 1.5rem 0.5rem rgb(0 0 0 / 15%);
}
.hnoi_left_destop{
height: 100%;
width: 100%;
}
.hnoi_left_destop img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0,100% 0,72% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,72% 100%,0 100%);
}

.hnoi_right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    border-radius: 10px;
}
.hnoi_right div h2 {
    font-weight: 700;
    font-size: 23px;
    font-family: "Source Sans Pro",sans-serif!important;
    line-height: 1.5!important;
    color: #2a2a2a;
  
    margin: 0 0 30px;

}


@media (min-width: 1280px){
.hero-content .left-side h1 {
    font-size: 47px !important;
    white-space: nowrap;
}
}
@media (min-width: 1280px){
.hero-content .left-side {
    width: 40% !important
}
}
@media (min-width: 1280px){
.hero-content .right-side {
    width: 60% !important
}
}
.hero-content .right-side img {
    /* max-width: 320px; */
    width: 100%;
    height: auto;
}
@media (min-width: 1280px){
.hero-content .right-side img {
    max-width: 100%;
}
}
@media (min-width: 1024px){
.hero-content .left-side h1 {
    text-align: left;
    font-size: 38px;
    /* font-family: "Source Sans Pro",sans-serif!important; */
}
}
@media (min-width: 1024px){
.hero-content .left-side {
    width: 50%;
    text-align: left;
    max-width: 100%;
}
}
.hero-content .left-side h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 23px;
    line-height: 1!important;
}
.padding-area {
    padding: 45px 0;
}
.heading-2 {
    font-size: 37px;
    font-weight: 700!important;
}
.service {
    text-align: center;
    padding: 35px 0;
    position: relative;
    border-bottom: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    
}

.service .fbox-icon {
    width: 100px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: 3s ease-in-out infinite iconsize;
    animation: 3s ease-in-out infinite iconsize;
}

.service .fbox-icon {
    width: 100px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: 3s ease-in-out infinite iconsize;
    animation: 3s ease-in-out infinite iconsize;
}
.service .overlay-area {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: block;
    opacity: 0;
    transition: opacity .8s ease;
    font-family: "Source Sans Pro",sans-serif;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#service11 .overlay-area {
    background: linear-gradient(-45deg,#1da0a3,#6c32b6);
}
.service .overlay-area:hover {
    opacity: 1!important;
    background: linear-gradient(-45deg,#1da0a3,#6c32b6);
}
.service .overlay-area p {
    font-size: 23px !important;
}
.service .overlay-area p {
    color: #fff;
    display: block;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.service .overlay-area span {
    color: #fff;
    font-size: 15px;
    line-height: 22px!important;
    text-transform: initial;
    
}
/* .........stories section......... */



.testimonials .testimonial-child {
    box-shadow: 1px 1px 4px #ccc;
    position: relative;
    border-radius: 15px;
    margin-top: 50px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clear: both;
}
.testimonials .testimonial-child .author-img {
    width: 106px;
    height: 106px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -43px;
    margin-left: -53px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials .testimonial-child .author-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.testi-ani.grayscaleani:nth-child(1) .testimonial-child .author-img img {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
.testi-ani.grayscaleani .testimonial-child .author-img img[_ngcontent-c5] {
    -webkit-animation: .6s ease-in-out forwards grayScale;
    animation: .6s ease-in-out forwards grayScale;
}
.testimonials .testimonial-child .content {
    font-size: 13px;
    text-align: center;
    padding: 80px 20px 0;
    position: relative;
    margin-bottom: 20px;
    color: #2a2a2a;
}
.testimonials .testimonial-child .content img {
    width: 12px;
    height: 12px;
    margin-left: -12px;
    margin-top: -16px;
}

.testimonials .testimonial-child .content img.last{
    margin: -10px -12px auto auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* .testimonials[_ngcontent-c5] .testimonial-child[_ngcontent-c5] .content[_ngcontent-c5] img.last[_ngcontent-c5] {
    margin: -10px -12px auto auto;
    
    transform: rotate(180deg);
} */

img {
    vertical-align: middle;
    border-style: none;
}
.testimonials  .testimonial-child .bottom {
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
}

.testimonials[_ngcontent-c5] .testimonial-child[_ngcontent-c5] .bottom[_ngcontent-c5] p[_ngcontent-c5] {
    margin-bottom: 0;
    color: #099;
}

.testimonials .testimonial-child .bottom span {
    display: block;
    font-size: .6rem;
    color: #757575;
}
/* .......Map-clientile---section... */

.home_footer_upper_section {
    padding-top: 45px;
}
.matrices-grid {
    display: grid;
    grid-template-columns: 6fr 2fr;
}
h3{
line-height: 1.5!important;
color: #2a2a2a;
font-weight: 400;
margin: 0 0 30px;
}
.map_right_holder {
    padding-bottom: 19px;
}
.satisfied_clientele {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.satisfied_clientele > div {
    align-self: center;
}
.satisfied_clientele p {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
}
.satisfied_clientele p, .satisfied_clientele span {
    color: #099;
    line-height: 1!important;
}
.satisfied_clientele span {
    font-size: 15px;
    display: block;
}
.left_right_angle_one::before {
    background: url(../public/assets/home_twenty_1.png) 0 0/contain no-repeat;
    content: "";
    position: absolute;
    left: 0;
    z-index: -56;
    width: 537px;
    height: 225px;
    bottom: -77px;
}
.wwu-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.wwu-div .lt-side img {
    -webkit-transform: rotate(-2.5deg);
    transform: rotate(-2.5deg);
}


.wwu-div img {
    width: 90%;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.wwu-div .rt-side p.tt {
    font-size: 23px;
    margin: 0;
    font-weight: 500;
    
}
.wwu-div .rt-side {
    align-self: center;
    font-family: "Source Sans Pro",sans-serif;
}
.re {
    color: #a983db;
    fill: #a983db;
}
.qa{
    color: #04c3b6;
    fill: #04c3b6;
}
.ced {
    color: #f3c42b;
    fill: #f3c42b;
}
.idp{
    color: #6a65f2;
    fill: #6a65f2;
}
.ad{
    color: #ffa25c;
    fill: #ffa25c;
}

.wwu-div .points .checkOnly{
    /* font-size: 24px;
    margin-top: 3px; */
    font-size: 29px;
    
}
/* .wwu-div .points i {
    font-size: 24px;
    margin-top: 3px;
} */
.icon-check:before {
    content: "\e080";
}

.wwu-div .rt-side p.pt {
    font-size: 19px;
    font-weight: 300 ;
    color: #2a2a2a ;
    font-family: Roboto,sans-serif;
    margin: 0;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.left_right_angle_two .container::before {
    background: url(../public//assets/home_twenty_two.png) 0 0/contain no-repeat;
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;
    width: 537px;
    height: 225px;
    bottom: -77px;
}
.left_right_angle_three::before {
    background: url(../public//assets/home_twenty_three.png) 0 0/contain no-repeat;
    content: "";
    position: absolute;
    left: 0;
    width: 537px;
    height: 225px;
    bottom: -77px;
}
.left_right_angle_four .container::before {
    background: url(../public//assets/home_twenty_four.png) 0 0/contain no-repeat;
    content: "";
    position: absolute;
    right: 0;
    z-index: -1;
    width: 537px;
    height: 225px;
    bottom: -77px;
}
.left_right_angle_five::before {
    background: url(../public//assets/home_twenty_five.png) 0 0/contain no-repeat;
    content: "";
    position: absolute;
    left: 0;
    width: 537px;
    height: 225px;
    bottom: -77px;
}
/* h4, p {
    font-family: Roboto,sans-serif!important;
} */
/* .......leave msg section---section... */
.hide_show_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* ...1st from footer...image section... */
.position-relative {
    position: relative!important;
}

/* .testimonials[_ngcontent-c5] .testimonial-child[_ngcontent-c5] .content[_ngcontent-c5] img[_ngcontent-c5] {
    width: 12px;
    height: 12px;
    margin-left: -12px;
    margin-top: -16px;
} */
/* .... bottom button section.......... */

.common_banner_bottom {
    background: url(/assets/2nd-last-b.png) 0 0/cover no-repeat;
    min-height: 360px;
    max-height: 360px;
    background-position-x: center;
    background-position-y: top;
    margin-top: -84px!important;
}

/* ............carrier-card........... */
.m-bot-30 {
    margin-bottom: 30px;
}

.body-text {
    color: #2a2a2a;
    font-size: 19px;
    line-height: 1.5!important;
    font-family: Roboto,sans-serif;
}
.body-text .job-desc {
    color: #099;
}
.body-text strong a{

        text-decoration: none;
        background-color: transparent !important;
        color: #099 !important;
        cursor: pointer;
    
}


.carrier_card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}
.job-thumbnail {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
    transition: all .5s ease;
}
.color-grad{
    background: linear-gradient(-45deg, rgb(0, 103, 183), rgb(140, 13, 99));
}
.carrier_card_heading {
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.job-thumbnail .carrier_card_heading p {
    color: #fff!important;
    font-size: 19px!important;
    font-family: "Source Sans Pro",sans-serif!important;
    margin: 0;
    text-align: center;
    line-height: 1.1!important;
}
.carrier_card_body {
    padding: 30px 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 180px;
}
.cip_holder {
    margin-right: 12px;
    /* margin-top: 3px; */
}
.job-thumbnail .carrier_card_body p {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    line-height: 1.8!important;
}
.carrier_card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.ripple1, .ripple2, .ripple3, .ripplefb, .rippletags {
    position: relative;
}
.ripple1:before, .ripple2:before, .ripple3:before {
    border: 10px solid #23b428;
}
.ripple1:before, .ripple2:before, .ripple3:before, .ripplefb:before, .rippletags:before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
}






.a
{

background: linear-gradient(-45deg, rgb(0, 103, 183), rgb(140, 13, 99));
}
.card-header
{
background: linear-gradient(-45deg, rgb(108, 50, 182), rgb(29, 160, 163))
}
/* .card-body-inner p{
margin-left: 10px;
} */

.card-header {
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .card-header p {
        color: #fff!important;
        font-size: 19px!important;
        font-family: "Source Sans Pro",sans-serif!important;
        margin: 0;
        text-align: center;
        line-height: 1.1!important;
}

.card-body-only {
    padding: 30px 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 240px;
}
.card-image {
    width:5px;
    height: 5px
}

/* .card-body-only p{
    margin-left: 5px;
} */
.name-flex{

display:flex;
width:100%;
gap:75px;

/* justify-content: space-between; */


}
.subtitile-sec{
    width:300px

}
.subtitile-sec p{
    text-align: left;
}
.card-image img{
    width:20px;
    height: 20px;
    margin-top :5px;
}
.cc_button_holder {
    width: 116px;
    height: 40px;
    font-size: 15px!important;
}
.onlyButton
{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 30px;
}
.btn-primary {
    background: #23b428!important;
    border-color: #23b428!important;
}
.carrier_card_holder {
    
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 1px 1px 4px #ccc;
        transition: all .5s ease;
    
}



.carrier_card_holder:hover {
    transition: all .4s ease;
    cursor: pointer;
    -webkit-transform: translate3D(0,-1px,0) scale(1.03);
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card-body-inner{
    /* text-align: center; */
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:100%

}
.card-section{
    margin-left: 30px;
    margin-right: 30px;
}
/* ....carrier form------------- */
.form-sec {
    padding: 80px 0px 50px

}
.jobform-area h2 {
    font-size: 33px!important;
    font-weight:bold!important;
    font-family: "Source Sans Pro",sans-serif!important;
    margin: 0 0 30px;
}
.contact-form {
    width: 60%;
    margin: 0 auto 50px;
}


/* h1, h2, h3, h4, h5, h6 {
    line-height: 1.5!important;
   
    font-weight: 400;
    margin: 0 0 30px;
} */

.inputForm .form-controller{
padding: 8px 4px;
font-size: 19px;
letter-spacing: 1px;
background-color: transparent!important;
border: 2px solid #ddd;
border-top: transparent;
border-right: transparent;
border-left: transparent;
border-bottom-width: 1px;
/* font-family: "Source Sans Pro",sans-serif; */
border-radius: 0;
color: #555;
transition: border-color ease-in-out .15s;
margin-bottom: 25px;
font-weight: 300;
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
margin-top: 0px;
}

input:focus {
    outline:none !important;
}
.in:focus{

outline:none !important;
}

.phone-form-job  {
    border-radius: 0!important;
    padding-left: 0!important;
    margin-left: -45px;
    font-weight: 300!important;
    padding-bottom: 21px!important;
    margin-bottom: 0!important;
    border-width: 0!important;
}
/* ...phone section........ */

.phone-left{
    /* width:15% */
}
.textfield .MuiOutlinedInput-root {

 border:none !important;
 outline:none !important;
 }
 .d{
    display:flex;
    align-items:flex-start;
    justify-content: center;
 }
 /* input[type="file"] {
    display: none !important;
 } */
 ::-webkit-file-upload-button {
    display: none;
 }
  input[type="file"] {
    border-bottom: 1px solid black;
    background-color: transparent!important;
border: 2px solid #ddd;
border-top: transparent;
border-right: transparent;
border-left: transparent;
border-bottom-width: 1px;
 }
 .hiden{
    display:none !important;
 }
 .paperClip{
    color: #b3b3b3;
    margin-right: 10px;
    transform: rotate(-90deg);
    /* font-size: 25px; */
 }


 .agree-policy {
    font-size: 10px!important;
    color: #b2b2b2!important;
    margin-top: 5px;
}
/* ....carrier-detail......... */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    background-color: #fff;
    margin-top: 72px;
    position: relative;
}

.banner-parent{
    background-color: unset!important;
    height: 400px;
}
.banner_img{

    height: 400px !important;
    width: 100%;
    /* -o-object-fit: cover; */
    object-fit: cover;
}
.details_banner_twenty{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}


.twenty_twenty{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 350px
;

}
.twenty_twenty_right{
display: flex;
align-items: center;
justify-content: flex-start;
}
.twenty_twenty_right{
width: 100%;
max-width: 450px;
}

.detail_holder_heading h3{
font-size: 23px;
font-family: "Source Sans Pro",sans-serif!important;
}


h3{
    line-height: .9!important;
}
.carrier_card_twenty{
    display: flex;
}


.career_icon_pic {
    width: 20px;
    margin-right: 7px;
}
.detail_holder_heading p {
    color: #2a2a2a!important;
    font-size: 15px!important;
}
.banner .a_holder {
    position: unset;
    display: unset;
    bottom: unset;
}
ripple-btn{
background: #23b428!important;
}
.banner a {
    max-width: 280px;
    border: unset;
    font-size: 19px;
    height: 40px;
    text-transform: unset;
    font-family: "Source Sans Pro",sans-serif;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.ripple-btn{
    position: relative;
    /* display: inline-block !important ; */
    padding: 5px;
    font-size: 15px!important;
    font-family: "Source Sans Pro",sans-serif;
    min-height: 40px;
    max-height: 40px;
    min-width: 280px;
    max-width: 280px;
    color: #fff !important;
    background: #23b428!important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
}

.banner a::before {
    border-radius: 5px;
}

/* .ripple-btn :hover{
    color: white;
} */

/* .ripple-btn :hover::before {
    -webkit-animation: 1s forwards rippleani;
    animation: 1s forwards rippleani;
}



.ripple-btn ::before {
    content: "";
    background-color: #23b428;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
    border-radius: inherit;
    z-index: -1;
} */


/* carrierdetails-skill */


.outer{
    margin-top: 80px;
}
.inner{
    padding: 20px;
}
.inner-para{
    line-height: 1.8;
    color: #2a2a2a;
    font-size: 1rem;
}
.heading-sec{
    margin-bottom: 60px;
}
/* .un-list{
    list-style-type: circle;
} */
.un-list li{
    font-size: 13px!important;
    list-style: circle!important;
    margin-bottom: 10px!important;
    color: #2a2a2a!important;
}

.inner .row{
    margin-bottom: 30px;

}

/* ..........Form validation ..... */

.relativeError{
    position: relative;
}
.formerror{
    position: absolute;
 bottom:-10px

}
.formerror p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: red;
    /* padding: 0px 10px; */
    font-weight: bold;
}

.error-modal{
    bottom:-15px !important
}
/* 
...modal section...... */
.modal-form {
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    margin-bottom: 15px !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    font-weight: 300 !important;
}
.form-controller {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 .modal-content {
    max-width: 1050px;
    width: 90%;
    min-height: 100px;

    border-radius: 5px;
    background: url(../public/assets/2nd-last-b.png) bottom/contain no-repeat !important;
    background-position-y: 423px!important;
    z-index: -1;
    overflow: hidden;
    background-color:white !important;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn ease-in;
}
@keyframes zoomIn {
    0% {
      transform: scale(0, 0);
    }
    /* 50% {
      transform: scale(0.5, 0.5);
    } */
    100% {
      transform: scale(1, 1);
    }
  }

.map-image{
    width: 100%;
    margin-bottom: 30px;
    padding-right: 16px;
    /* height: 80% !important; */

}
.map-bottom .client-area{
display: flex;
width: 100%;
text-align: center;
margin-top: 20px;
padding-left: 50px;
padding-right: 50px;
}
.area-one {
    width: 25%;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.map-bottom .client-area h6 {
    color: #099;
    margin-top: 8px;
}
.map-bottom .client-area p {
    font-size: 11px;
    margin-top: -10px;
}
.map-icons {
    width: 30px;
    height: 30px;
}
.area-two, .area-three {
    width: 25%;
    padding-right: 5px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.area-four {
    width: 25%;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.calling-desk-area {
    display: flex;
}
.calling-area {
    color: #575757;
    padding-top: 10px;
}
.new_popup_buttom {
    display: flex;
    align-content: center;
    justify-content: center;
}
.calling-desk-area .new_popup_buttom {
    position: relative;
    max-width: 33.3333%;
    width: 100%;
}
.calling-desk-area .number_holder {
    font-size: 14px;
    padding: 0;
    margin: 15px 0;
}
.number_holder {
    width: 152px; 
    display: inline-block;
}
.number_holder {
    text-decoration: none;
    color: #099 !important;
}
.calling-desk-area .new_popup_buttom::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 0;
    width: 2px;
    height: 18px;
    background-color: #9b9ea1;
}




@media (min-width: 576px){
.modal-dialog{
    width:1000px !important;
    max-width:1000px !important;
}
}
.css-1a1fmpi-MuiInputBase-root-MuiInput-root:before {

border-bottom:1px solid #ddd !important;
right:-25px;
bottom:-1px

}

.map-bottom h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Source Sans Pro",sans-serif!important;
    padding-top: 64px;
}

.full-height{
    height: 100%;
}
.form-wrapper{
    background-color: #fff;
    box-shadow: 1px -2px 20px 0 rgb(0 0 0 / 10%), 0 12px 24px 0 rgb(0 0 0 / 12%);
    padding: 33px;
}
.position-r{
    position: relative;
    /* border-bottom: 1px solid black; */
}
.row-modal-p{
    margin-bottom: 18px;
}
.p-item {
    font-size: 17px;
    position: absolute;
    bottom: -12px;
    font-weight: 100;
    color: #575757;
   
}
.want-parent{
    width:100%;
    border-bottom:1px solid #ddd !important; ;
    position: absolute;
    bottom:0px;
    display:flex
}


/* .row-modal-p{
    border-bottom: 1px solid black;
} */
.send-btn{
    background: #23b428 !important;
    border: none;
    width: 100%;
    height: 54px;
    margin-top: 11px;
    font-size: 22px;
    font-family: "Source Sans Pro",sans-serif;
}
.calling-area .chatWUs {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #23b428;
    background: 0 0 !important ;
    color: #23b428 !important;
}
.chatB :hover {
    background: #23b428 !important;
    color:white !important;
}


.relative:hover .absolute-icon{
    color:white;
    z-index: 1000 !important;
    -webkit-filter: brightness(500%) !important;
    opacity:1.2
  }

.relative:hover .image{

  -webkit-filter: brightness(50%) !important;
 
}

/* Team-pageee------------ */

.team-first-banner{
    width: 100%;
    max-width: 1600px;
    z-index: 1;
}
.first-banner{
overflow: hidden;
position: relative;
background: #f5cd47;
height: 550px;
-webkit-clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.first-banner .testi-image{
    position: absolute !important;
    bottom: 0 !important;
    left: 20% !important;
    width: 100% !important;
    max-width: 400px !important;
    display: block !important;
    margin: auto !important;
}
.first-banner .testi-data {
    position: absolute;
    width: 100%;
    max-width: 500px;
    left: 40%;
    top: 80px;
}
.team-first-banner .second-banner{
margin-top: -50px;
position: relative;
background: #aa83dc;
height: 550px;
-webkit-clip-path: polygon(0 15%,100% 0,100% 100%,0 85%);
clip-path: polygon(0 15%,100% 0,100% 100%,0 85%);
}
.team-first-banner .second-banner .testi-image {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}
.team-first-banner .second-banner .testi-data{
position: absolute;
width: 100%;
max-width: 500px;
right: 35%;
top: 80px;
}
.team-first-banner .third-banner
{
margin-top: -50px;
position: relative;
background: #ed8376;
height: 550px;
-webkit-clip-path: polygon(0 0,100% 15%,100% 100%,0 100%);
clip-path: polygon(0 0,100% 15%,100% 100%,0 100%);
}
.team-first-banner .third-banner .testi-image {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 100%;
    max-width: 400px;
    display: block;
}
.team-first-banner .third-banner  .testi-data {
    position: absolute;
    width: 100%;
    max-width: 500px;
    left: 45%;
    top: 100px;
}
.lifeAtBitpastel{
margin: 100px auto;
width: 100%;
max-width: 1600px;
overflow: hidden;
}
.lifeAtBitpastel  .first-lb {
    place-items: initial;
    text-align: center;
}
.lifeAtBitpastel .common-lb {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center; */
}
.lifeAtBitpastel .img {
    position: relative;
}
.lifeAtBitpastel .common-lb img {
    min-width: 100px;
    min-height: 100px;
}
.lifeAtBitpastel img {
    width: 100%;
    height: auto;
}
.lifeAtBitpastel .common-lb .content {
    padding-left: 20px;
    padding-right: 20px;
}
.lifeAtBitpastel .common-lb.first-lb p {
    padding-top: 100px;
    text-align: right;
    display: inline-block;
}
.lifeAtBitpastel .common-lb p.tt {
    font-size: 49px;
    color: #099;
    font-weight: 700;
    font-family: "Source Sans Pro",sans-serif!important;
}
/* .lifeAtBitpastel .common-lb .first-lb {
    place-items: initial;
    text-align: center;
} */
.lifeAtBitpastel .common-lb.second-lb {
    margin-top: -300px;
}

.lifeAtBitpastel .common-lb.second-lb .content {
    padding-top: 40%;
}
.lifeAtBitpastel .common-lb p.culture {
    color: #d7b942;
    margin-bottom: 100px;
    font-family: "Source Sans Pro",sans-serif!important;
}
.lifeAtBitpastel .common-lb p.desc {
    font-size: 23px;
    font-family: "Source Sans Pro",sans-serif!important;
}
.lifeAtBitpastel .common-lb.fourth-lb {
    text-align: center;
}
p.fun-bp {
    color: #099;
    text-align: center;
    padding: 0 15px;
    font-size: 49px;
    font-weight: 700;
    line-height: 1;
    font-family: "Source Sans Pro",sans-serif!important;
    margin: 30px 0;
}
.team_lower_section_holder {
    position: relative;
    margin-bottom: -150px;
    margin-top: 30px;
}


.team_lower_section_desk {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
}
.team_lower_section_desk .tlsi_left {
    width: 70%;
}
.team_lower_section_desk img {
    width: 100%;
    height: auto;
}
.tlsi_right_responsive{
    display :none;;
}
.tlsi_right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}
.team_lower_section_desk .tlsi_right {
    width: 30%;
    padding-left: 20px;
}
.tlsi_right h2  {
    font-weight: 700;
    font-size: 23px;
}
.tlsi_right p {
    font-size: 21px;
    margin-bottom: 20px;
}
.team_lower_section_desk .tlsi_right p {
    font-size: 14px;
}
.padding-area {
    padding: 45px 0;
}